/* Estilos generales */
body {
    font-family: "Segoe UI";
    background-color: #a7a2a2;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px 10px;
}

/* Estilos del formulario de contacto */
#contact-form {
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
            padding: 30px 20px;
        
    }
}

#contact-form h2 {
    margin-top: 0;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form textarea,
#contact-form select {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-form select {
    height: 50px;
}

#contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin:auto;
    display: block;
}

#contact-form input[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para campos requeridos */
#contact-form .error {
    border-color: #e74c3c !important; /* Color rojo para campos requeridos */
}

#contact-form input:required:focus,
#contact-form textarea:required:focus {
    border-color: #c0392b !important; /* Color rojo más oscuro para campos requeridos enfocados */
}

/* Estilos para mensaje de error */
.error-message {
    color: #e74c3c; /* Color rojo para mensaje de error */
    margin-top: 5px;
}

/* Estilos para los botones de opción personalizados */
.custom-radio-container {
    max-width: 600px; /* Cambia el valor según tu preferencia */
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio label {
    width: 80%;
    display: inline; /* Cambiado de inline-block a inline */
    padding: 0px 20px;
    margin: 0 0px; /* Eliminar el margen horizontal */
    border: 2px solid #869c06;
    border-radius: 5px;
    cursor: pointer;
}

.custom-radio input[type="radio"]:checked + label {
    background-color: #215f11;
    color: #fff;
}

.group {
    margin-bottom: 1rem;
}

.logo-link {
    color: inherit;
}

.form-title {
    font-size: 50px;
}