/* Estilos generales */
body {
    font-family: "Segoe UI";
    background-color: #a7a2a2;
    margin: 0;
    padding: 0;
}

header {
    background-image:url(../images/fondo_borroso.png); /* Con esto la imagen se carga si abro el html con live server o doble click */
    background-size: cover;
    background-position: center;
    color: #571007;
    padding: 20px;
}

/* Estilos para los enlaces del menú superior */
header nav ul li a {
    color: #4d0606; /* Color rosa palo */
    text-decoration: none; /* Quitar subrayado */
}

header nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

main {
    padding: 20px;
}

footer {
    background-color: #291919;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos del formulario de contacto */
#contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form h2 {
    margin-top: 0;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form textarea,
#contact-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-form select {
    height: 40px;
}

#contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para campos requeridos */
#contact-form input:required,
#contact-form textarea:required {
    border-color: #e74c3c; /* Color rojo para campos requeridos */
}

#contact-form input:required:focus,
#contact-form textarea:required:focus {
    border-color: #c0392b; /* Color rojo más oscuro para campos requeridos enfocados */
}

/* Estilos para mensaje de error */
.error-message {
    color: #e74c3c; /* Color rojo para mensaje de error */
    margin-top: 5px;
}